IPDRTypes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "3.5.1">
	<xsd:simpleType name = "dateTimeMsec">
		<xsd:annotation>
			<xsd:documentation>
 This type supports time resolution at the millisecond level It is further constrained to always use the timezone designator "Z" indicating GMT. Quantities of this type can optionally use 3 digits of fraction after the second to represent the milliseconds.  If absent, it is assumed the millisecond component is ".000".
Example:  1999-05-31T13:20:00.561Z
             
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{3})?Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "dateTimeUsec">
		<xsd:annotation>
			<xsd:documentation>
			This type supports time resolution at the microsecond level.  It is further constrained to always use the timezone designator "Z" indicating GMT. Quantities of this type can optionally use 6 digits of fraction after the second to represent the microseconds.  If absent, it is assumed the microsecond component is ".000000".  Example:  1999-05-31T13:20:00.561843Z
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{6})?Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "ipV4Addr">
		<xsd:annotation>
			<xsd:documentation>
    An IP version 4 address in dotted notation decimal. Example:  15.13.120.22
                    
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "ipV6Addr">
		<xsd:annotation>
			<xsd:documentation>
                 An IP version 6 address in colon separated 2 byte block 
                 hexadecimal notation.
                 Example:  FEDC:AB19:12FE:0234:98EF:1178:8891:CAFF
             
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
		<xsd:simpleType name = "ipAddr">
		<xsd:annotation>
			<xsd:documentation>
                 An IP version 4 or 6 address	
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:hexBinary">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "UUID">
		<xsd:annotation>
			<xsd:documentation>
                 A universal unique id in hex dash notation.
                 Example:  f81d4fae-7dec-11d0-a765-00a0c91e6bf6
             
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name = "macAddress">
		<xsd:annotation>
			<xsd:appinfo>
				<xsd:reference>IEEE 802(R)-2001</xsd:reference>
			</xsd:appinfo>
			<xsd:documentation>
				A Medium Access Control address in hypen separated 1 byte block hexadecimal notation.
				Example: 0F-2C-D0-44-2E-09
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string">
			<xsd:pattern value = "[0-9a-fA-F]{2}\-[0-9a-fA-F]{2}\-[0-9a-fA-F]{2}\-[0-9a-fA-F]{2}\-[0-9a-fA-F]{2}\-[0-9a-fA-F]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>